body {
    height: 100vh;
    background-color: #576ca8;
    color: #f5f3f5;
}

nav {
    background-color: #274690;
}

.navbar-brand {
    font-weight: bold;
    color: #c4c1c2;
}

.nav-link {
    color: #f5f3f5;
}

.btn {
    background-color: #938f8e;
}
