<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/users/others.css">

    <div class="container justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-6 offset-xl-3">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Sign Up</h5>
                        <form action="/signup" method="POST" class="validated-form" novalidate>
                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label" for="firstName">First Name</label>
                                    <input type="text" class="form-control" placeholder="John" id="firstName" name="firstName"
                                        aria-label="First name" required autofocus>
                                </div>
                                <div class="col">
                                    <label class="form-label" for="lastName">Last Name</label>
                                    <input type="text" class="form-control" placeholder="Doe" id="lastName" name="lastName"
                                        aria-label="Last name" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                            </div>
                            <button class="btn btn-success btn-block">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>